.custom-audio-player {
  width: 74%;
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 5px;
  align-items: center;
  margin-left: 500px;
}

.rhap_progress-bar {
  display: None;
}

.rhap_player .rhap_time.rhap_totalTime {
  display: none !important;
}

.rhap_time-color {
  color: white;
}

button.rhap_play-pause-button {
  font-size: 44px;
  /* Adjust the font size as needed */
}